registry=https://registry.npmmirror.com

network-concurrency=16
fetch-retries=3
fetch-timeout=60000

strict-peer-dependencies=false
auto-install-peers=true

prefer-frozen-lockfile=true
resolution-mode=highest

update-notifier=false
loglevel=error
